@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height: auto;
    padding: 1rem;
}
nav .navRight a{
    margin: 0rem 1rem;
    border-bottom: 2px solid black;
    transition: .2s all ease-in;
}
nav .navRight a:hover{
    border-bottom: 2px solid transparent;
    
}
@media screen and (max-width:600px){
    nav .navRight{
        display: none;
    }
}
.cover{
    width: 100%;
    min-height: 30vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 5rem;
}
.cover .innerCover{
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    border-radius: 20px;
    width: 80%;
    height: 200px;
    background: url(./images/gallary_1.jpg);
    background-position: 50%;
}
.cover .innerCover h1{
    font-size: 3rem;
}
@media screen and (max-width:700px){
    .cover .innerCover{
        width: 90%;
    }
    .cover .innerCover h1{
        font-size: 2rem;
    }
}

.gallary{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.gallary .innerGallary{
    width: 80%;
    
}
.gallary .innerGallary h2{
    padding: 2rem 0rem;
}
.gallary .innerGallary p{
    padding-bottom: 2rem ;
}
.gallary .cardsContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
}
.gallary .cardsContainer .cards{
    margin: 1rem;
    min-width: auto;
    max-width: 350px;
}

.gallary .cardsContainer .cards .cardContent h4{
    padding: .5rem 0rem;
}
.gallary .cardsContainer .cards .cardContent p{
    padding: .5rem 0rem;
}


.gallary .cardsContainer .cards img{
    width: 350px;
    height: auto;
    object-fit: cover;
}
@media screen and (max-width:1400px) {
    .gallary .cardsContainer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 800px) {
    .gallary .innerGallary h2{
        padding: 1rem 0rem;
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .gallary .innerGallary{
        width: 90%;
        
    }
}
@media screen and (max-width: 500px) {
    .gallary .innerGallary h2{
        font-size: 1rem;
    }
    .gallary .cardsContainer .cards img{
        width: 250px;
    }
    .gallary .cardsContainer .cards{
        margin: 1rem;
        min-width: auto;
        max-width: 300px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    .gallary .cardsContainer .cards .cardContent{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    .gallary .cardsContainer .cards .cardContent h4{
        padding: .2rem 0rem;
    }
    .gallary .cardsContainer .cards .cardContent p{
        padding: .2rem 0rem;
    }
    
}
.subscribe{
    width: 100%;
    min-height: 70vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top: 10rem;
}
.leftSubs{
    width: 50%;
    padding: 2rem 1rem 2rem 7rem;
}
.rightSubs{
    width: 50%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    padding: 2rem 1rem 2rem 4rem;
}
.rightSubs input{
    font-size: 2rem;
    border: none;
    background-color: rgb(209, 209, 209);
    border-radius: 50px;
    padding: 1rem;
    width: 400px;
    margin: .4rem 0rem;
}
.rightSubs a{
    background-color: black;
    color: white;
    padding: 1rem;
    margin: .4rem 0rem;
    width: 400px;
    font-size: 2rem;
    border-radius: 50px;
    text-align: center;
}
@media screen and (max-width: 1400px) {
    .leftSubs{
        padding: 2rem 1rem 2rem 3rem;
    }
    .rightSubs{
        padding: 2rem 1rem 2rem 3rem;
    }
    .rightSubs input{
        font-size: 1rem;
        padding: 1rem;
        width: 300px;
        margin: .4rem 0rem;
    }
    .rightSubs a{
        width: 300px;
        font-size: 1rem;
        border-radius: 50px;
        text-align: center;
    }

}
@media screen and (max-width: 800px) {
   
    .rightSubs input{
        font-size: 1rem;
        padding: 1rem;
        width: 300px;
        margin: .4rem 0rem;
    }
    .rightSubs a{
        width: 300px;
        font-size: 1rem;
        border-radius: 50px;
        text-align: center;
    }
    .subscribe{
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;

    }
    .rightSubs ,.leftSubs{
        width: 90%;
        padding: 1rem;
    }

}
footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    color: white;
    text-align: center;
}
@media screen and (max-width:500px) {
    footer p{
        font-size: .8rem;
        padding: .5rem 0rem;
    }
}